// reset
body,
div,
span,
header,
footer,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
em,
textarea,
button,
input,
select {
  padding: 0;
  margin: 0;

  border: none;
  font-family: 'Microsoft Yahei', sans-serif;
  &:focus {
    outline: none;
  }
}
html,
body,
#app {
  height: 100%;
  width: 100%;
  font-size: 12px;
  background-color: #f5f7f9;
  color: #000;
}

* {
  -webkit-tap-highlight-color: transparent;
}
.ivu-menu-vertical.ivu-menu-light:after {
  background: none;
}

.CodeMirror {
  font-size: 15px;
}

.ivu-table {
  // font-size: 12px;
}
